@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #070707;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 58.975625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 26px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33.05px;
}

.menu__body {
  overflow: auto;
}

.menu__link {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.menu__link:hover {
  color: #070707;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu__horizontal-line {
  max-width: 100%;
  width: 100%;
  height: 1px;
  background-color: #828282;
  margin: 31.86px auto;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 114.24px 0 114.24px 0;
}

.content-footer {
  text-align: center;
}

.content-footer__title {
  padding-bottom: 20.03px;
}

.content-footer__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  padding-bottom: 29.6px;
}

.content-footer__button {
  background-color: #070707;
  width: 180.5px;
  margin: 0 auto;
  padding: 13px 29.08px 12px 29.08px;
  border-radius: 30px;
}

.content-footer__button a {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}

.content-footer__button:hover a {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: rgb(161, 161, 161);
}

.content-footer__social-media {
  padding: 86.64px 0 45.06px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 61.35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-footer__message {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

#welcome {
  padding-bottom: 30px;
}

.content-welcome__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-welcome__headings {
  font-weight: 800;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.content-welcome__subtitles {
  padding-top: 22px;
  font-size: 18px;
  color: #070707;
}

.content-welcome__language-change {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 35px;
}

.content-welcome__language-change .language {
  font-size: 16px;
  color: #828282;
  font-weight: 800;
}

.content-welcome__language-change #slash {
  color: #070707;
  font-size: 16px;
  font-weight: 800;
  margin: 0 3px 0 3px;
}

.content-welcome__language-change .language:hover {
  color: #070707;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.novik-image img {
  width: 100%;
  margin: 54px auto;
}

.novik-image__mobile img {
  width: 100%;
  margin: 54px auto;
}

.language__img_active {
  color: #070707;
}

#about {
  padding: 120px 0 85px 0;
  background-color: #F6F6F6;
}

.content-about {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.content-about__title {
  padding-bottom: 17.69px;
}

.content-about__subtitle {
  padding-bottom: 40px;
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.content-about__subtitle:last-child {
  padding: 0;
  width: 300px;
  max-width: 100%;
}

#skills {
  padding-bottom: 110px;
}

.content-skills {
  text-align: center;
}

.content-skills__title {
  padding-top: 91px;
}

.content-skills__subtitle {
  padding-top: 69.1px;
  font-size: 18px;
  line-height: 22px;
}

.program-skills {
  padding-top: 83.49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90.25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program-skills__name {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding: 23.03px 0 41.41px 0;
  height: 27.27px;
}

.program-skills__rating {
  padding-top: 41.41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.02px;
}

#portfolio {
  background-color: #F6F6F6;
  padding: 112px 0 112px 0;
}

.content-portfolio {
  text-align: center;
}

.content-portfolio__title {
  padding-bottom: 47px;
}

.content-portfolio__image {
  max-width: 100%;
}

.content-portfolio__image:nth-child(1),
.content-portfolio__image:last-child {
  padding-top: 99.08px;
}

.content-portfolio__subtitle {
  padding-top: 44.88px;
}

.content-portfolio__subtitle a {
  font-size: 18px;
  text-decoration: underline;
}

.content-portfolio__subtitle:hover a {
  text-decoration: none;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.test {
  margin-top: 30px;
  text-decoration: underline;
}

.headings {
  font-size: 34px;
  line-height: 42px;
  font-weight: 800;
}

.page {
  min-width: 0;
}

@media (min-width: 29.99875em) {
  .novik-image__mobile img {
    display: none;
  }
}

@media (max-width: 62.600625em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 1.8125rem;
  }

  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    display: none;
  }

  .burger-open {
    display: block;
    position: fixed;
    width: 100%;
    left: 0px;
    height: 100vh;
    padding-bottom: 66px;
    background-color: #fff;
  }

  .burger-open .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 68px;
    margin-left: 26px;
    margin-top: 30px;
  }

  .burger-open .menu__list .menu__link {
    font-size: 34px;
    line-height: 42px;
  }

  .burger-open .menu__horizontal-line {
    display: none;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 66px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3.84px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 2px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .content-welcome__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 60px 0 0 0;
  }

  .content-welcome__language-change {
    display: none;
  }

  .language-show {
    display: block;
    position: fixed;
    right: -40px;
    bottom: 70px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .language-show .language {
    font-size: 34px;
  }

  .language-show #slash {
    font-size: 34px;
  }

  .novik-image img {
    display: none;
  }
}